<% cache "#{I18n.locale}:#{Rails.root}" do %>
<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title><%= t("site.title") %> | Pokrex</title>
  <meta name="description" content="<%= default_description %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
  <meta property="og:url" content="https://pokrex.com" />
  <meta property="og:type" content="website" />
  <meta property="og:title" content="Pokrex" />
  <meta property="og:description" content="<%= default_description %>" />
  <meta property="og:image" content="/apple-icon-180x180.png" />
  <meta name="msvalidate.01" content="45F405A67E63F229A3F534A29438ED15" />
  <link rel="canonical" href="https://pokrex.com" />
  <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-5KMHRSN');</script>
  <!-- End Google Tag Manager -->
  <%= render 'layouts/favicon' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= csrf_meta_tags %>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "WebApplication",
      "name": "Pokrex",
      "alternateName": "Planning Poker",
      "url": "https://pokrex.com",
      "applicationCategory": "Tool, agile estimating",
      "operatingSystem": "OSX, Windows, iOS, Android",
      "screenshot": [
        "<%= image_url("home/room.png") %>",
        "<%= image_url("home/scheme.jpg") %>",
        "<%= image_url("home/sync.png") %>",
        "<%= image_url("home/dashboard.jpg") %>"
      ],
      "author": {
        "@type": "Person",
        "name": "Alex Shi"
      },
      "offers": {
        "@type": "Offer",
        "availability": "http://schema.org/InStock",
        "price": 0,
        "priceCurrency": "USD"
      },
      "aggregateRating": {
        "@type": "AggregateRating",
        "ratingCount": "57",
        "ratingValue": "5"
      }
    }
  </script>
</head>
<body class="home">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5KMHRSN"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div class="container-fluid">
    <div class="row header-section">
      <div class="container">
        <a class="logo" href="/">
          <%= image_tag("home/ppp.png") %>
        </a>
        <div class="header-actions pull-right">
          <a href="<%= new_user_session_path %>" class="link login navbar-btn"><%= t("user.login") %></a>
          <a href="<%= new_user_registration_path %>" class="link sign-up btn btn-reg navbar-btn"><%= t("user.signup") %></a>
        </div>
        <div class="clearfix"></div>
      </div>
    </div>
    <div class="row view-section view-section__intro-1">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section">
          <%= image_tag "home/room.png", alt: t("intro.room_alt"), title: t("intro.room_alt") %>
        </div>

        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.room") %></h2>
          <h3><%= t("intro.room_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.room_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-2">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section pull-right">
          <%= image_tag "home/scheme.png", alt: t("intro.scheme_alt"), title: t("intro.scheme_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.scheme") %></h2>
          <h3><%= t("intro.scheme_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.scheme_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-3">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section">
          <%= image_tag "home/jira.png", alt: t("intro.scheme_alt"), title: t("intro.scheme_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.synk") %></h2>
          <h3><%= t("intro.synk_desc").html_safe %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.synk_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row view-section view-section__intro-4">
      <div class="container">
        <div class="col-xs-12 col-md-8 image-section pull-right">
          <%= image_tag "home/dashboard.png", alt: t("intro.dashboard_alt"), title: t("intro.dashboard_alt") %>
        </div>
        <div class="col-xs-12 col-md-4 text-section">
          <h2><%= t("intro.dashboard") %></h2>
          <h3><%= t("intro.dashboard_desc") %></h3>
          <ul class="list-unstyled">
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_1") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_2") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_3") %></li>
            <li><i class="fa fa-check-circle"></i><%= t("intro.dashboard_f_4") %></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div id="sign-up-form">
    <div class="modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title"><%= t("user.join") %></h4>
          </div>
          <div class="modal-body">
          </div>
        </div>
      </div>
    </div>
  </div>
  <%= render "layouts/feedback" %>
  <%= render "layouts/tracking" %>
  <%= javascript_include_tag "home" %>
</body>
</html>
<% end %>
