<% form_url = @room.new_record? ? "/rooms" : room_path(@room.slug) %>
<%= form_for @room, url: form_url, html: { id: 'room-form', class: 'form', role: 'form' } do |f| %>
  <% if @room.errors.any? %>
    <h2><%= pluralize(@room.errors.count, "error") %> prohibited this room from being saved:</h2>

    <ul class="alert alert-danger alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="row">
    <div class="col-xs-7">
      <div class="form-group">
        <%= f.label :name do %>
          Nome
          <b class="required">*</b>
        <% end %>
        <%= f.text_field :name, placeholder: "Nome da sala", class: "form-control", required: true%>
      </div>
    </div>
    <div class="col-xs-3">
      <div class="form-group">
        <%= f.label :timer, "Tempo para votar" %>
        <%= f.select :timer, {"1 min" => 1, "2 min" => 2, "3 min" => 3, "4 min" => 4, "5 min" => 5, "10 min" => 10, "15 min" => 15}, { include_blank: "Sem cronômetro", selected: f.object.timer.to_i }, class: 'form-control' %>
      </div>
    </div>
    <div class="col-xs-2">
      <div class="form-group">
        <%= f.label :style, "Modo" %>
        <%= f.select :style, {"Assincrono" => 2 }, { include_blank: "Normal" }, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label "Tipo de pontuação" %>
    <%= f.hidden_field :pv, id: 'point-values', value: @room.pv_for_form %>
    <%= f.hidden_field :scheme %>
    <%= render partial: "rooms/point_values", locals: { room: @room } %>
  </div>
  <section class="stories-section panel panel-default" id="story-section">
    <div class="panel-heading clearfix">
      <h3 class="panel-title pull-left">Histórias</h3>
      <a class="pull-right import" href="javascript:;" data-status="input">
        <i class="fa fa-list" aria-hidden="true"></i>
        Importar de uma lista
        <% if !@room.new_record? %>
          <i class="fa fa-question-circle has-tooltip" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="Please ignore last column cuddled by #, only update title and description."></i>
      <% end %>
      </a>
    </div>
    <div class="panel-body" id="story-row">
      <%= render partial: 'rooms/story_form', locals: { f: f } %>
      <div class="row bulk-links" style="display: none;">
        <input type="hidden" name="room[bulk]" id="room_bulk">
        <%= text_area_tag "room[bulk_links]", @tickets, placeholder: "Uma história por linha, use \"|\" para separar título e descrição OU copie de uma planilha, tipo Excel, Google Docs.", class: 'form-control col-xs-10' %>
      </div>
    </div>
    <div class="form-group">
      <button type="button" class="add btn btn-info">
        <i class="fa fa-plus"></i>
      </button>
    </div>
  </section>
  <div class="form-group">
    <%= f.label "Moderadores" %>
    <%= f.text_field :moderator_ids, class: "form-control room--moderators"  %>
  </div>
  <div class="actions form-group">
    <%= f.submit "Enviar", class: 'btn btn-default' %>
  </div>
<% end %>
<input type="hidden" id="room-moderators" value='<%= @room.moderator_hash.to_json %>' />
