<nav class="navbar navbar-default" style="height: 106px;">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><%= image_tag("home/ppp.png") %></a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navbar-collapse">
      <ul class="nav navbar-nav">
        <li><a href="/donate" target="_blank">❤️<%= t('site.footer.donate') %></a></li>
        <% unless current_user %>
          <li><a href="<%= new_user_session_path %>"><%= t('user.log_in') %></a></li>
          <li><a class="vertical-spliter">|</a></li>
          <li><a href="<%= new_user_registration_path %>"><%= t('user.signup') %></a></li>
        <% end %>
      </ul>
      <% if current_user %>
        <ul class="nav navbar-nav navbar-right">
          <% if current_user.role == 0 %>
            <li>
              <a href="<%= new_room_path %>" class="new-room">
                ✏️ <%= t('intro.room') %>
              </a>
            </li>
          <% end %>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
              <img src="<%= current_user.letter_avatar %>" class="img-circle profile-image">
              <% if current_user && current_user.premium? %>
                <span class="premium-icon">👑</span>
              <% end %>
              <%= current_user.display_name %> <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li><a href="<%= dashboard_index_path %>">
                📊 <%= t('intro.dashboard') %>
              </a></li>
              <li><a href="<%= profile_path %>">
                ⚙ <%= t('site.header.profile') %>
              </a></li>
              <li role="separator" class="divider"></li>
              <li>
                <%= link_to destroy_user_session_path, method: :delete do %>
                  🏃Sair
                <% end %>
              </li>
            </ul>
          </li>
        </ul>
      <% end %>
    </div><!-- /.navbar-collapse -->
    <form class="navbar-form navbar-right typeahead">
      <div class="form-group">
        <div class="input-group group">
          <input class="form-control" id="typeahead-input" name="search" placeholder="Procurar cards/salas" autocomplete="off"  type="text">
          <i class="fa fa-search"></i>
        </div>
      </div>
    </form>
  </div><!-- /.container -->
</nav>
